@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE');
@import url('https://db.onlinewebfonts.com/c/b4e46f03d0e03a9192dc3c2ad1a4e104?family=Cocogoose');
@import url('https://fonts.cdnfonts.com/css/tahoma');

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin: 0 auto;
    min-width: 1400px;
}

/*공통*/

/* header */
#header_wrap {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: #FF5A26;
    background-size: 1920px 40px;
    position: fixed;
    z-index: 99;
}

.header {
    padding-top: 2px;
    margin: 0 auto;
    width: 1320px;
}

h1 {
    padding-top: 4px;
    display: inline-block;
}

.gnb {
    float: right;
}

.gnb li {
    float: left;
    margin-left: 6px;
}

.gnb>li:nth-child(3) {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.gnb>li:nth-child(3):hover .submenu_wrap {
    display: block;
}

.submenu_wrap {
    width: 200px;
    height: 220px;
    position: absolute;
    display: none;
    top: 50px;
    right: -82px;
    z-index: 9;
    background: url(../images/place/submenu_background.png) no-repeat center;
    background-size: 150px 210px;
}

.submenu {
    margin: 36px 0 0 20px;
    width: 160px;
    height: 200px;
}

.submenu>li {
    float: left;
    width: 150px;
    margin: 8px auto;
    text-align: center;
}

.submenu li a {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #FF4A00;
}
.submenu li a:hover{
    font-size: 17px;
}

#section1_wrap{
    width: 500px;
    margin: 0 auto;
    padding-top: 120px;
    height: 900px;
}
.login{
    margin: 50px auto;
    width: 500px;
    height: 700px;
    padding: 70px 50px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    text-align: center;
    display: inline-block;
}
.login h1{
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}
input{
    display: inline-block;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: middle;
}
input::placeholder{
    font-size: 20px;
    color: #666666;
}
input[type="text"], input[type="password"]{
    width: 400px;
    height: 60px;
    border: 1px solid #a3a3a3;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
}
input[type="text"]{
    margin: 40px 0 10px;
}
.id{
    padding: 20px 0 80px;
}
.id li{
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.id li:nth-child(1){
    width: 55%;
    text-align: left;
}
input[type="radio"]{
    width: 10px;
    height: 12px;
    border: 1px solid #ddd;
    
}
label{
    display: inline-block;
    margin-left: 10px;
}
.find{font-size: 14px;
float: right;}
.login_btn{
    display: block;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FF4A00;
    color: aliceblue;
    padding: 18px 0;
    box-sizing: border-box;
    text-align: center;
}
.signup{
    padding: 10px 0;
    text-align: center;
}
.signup a{text-decoration: underline;}
.sns_login{
    padding: 40px;
    display: inline-block;}
.sns_login a{
    margin-left: 20px;
}
.sns_login a:nth-child(1){
    margin-left: 0px;
}

.join_btn{
    margin: 0 auto;
    display: block;
    width: 118px;
    height: 46px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #353535;
    color: aliceblue;
    padding: 11px 0;
    box-sizing: border-box;
    text-align: center;
}
    
                
#footer {
    border-top: #000 0.6px solid;
    padding: 80px ;
    height: 100px;
    text-align: center;
}

#footer ul {
    margin: 0 auto;
    width: 570px;
}

#footer ul li {
    float: left;
    color: #353535;
    font-size: 12px;
    margin-right: 20px;
}

#footer ul li a {
    color: #353535;
    font-size: 10px;
}

#footer ul li a:hover {
    color: #000;
    font-weight: bold;
}