@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE');
@import url('https://db.onlinewebfonts.com/c/b4e46f03d0e03a9192dc3c2ad1a4e104?family=Cocogoose');
@import url('https://fonts.cdnfonts.com/css/tahoma');

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'NanumSquareAc', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin: 0 auto;
    min-width: 1400px;
}

/*공통*/
#section1_wrap,
#section3_wrap,
.footer {
    height: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

/* header */
#header_wrap {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: #FF5A26;
    background-size: 1920px 40px;
    position: fixed;
    z-index: 99;
}

.header {
    padding-top: 2px;
    margin: 0 auto;
    width: 1320px;
}

h1 {
    padding-top: 4px;
    display: inline-block;
}

.gnb {
    float: right;
}

.gnb li {
    float: left;
    margin-left: 6px;
}

.gnb>li:nth-child(3) {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.gnb>li:nth-child(3):hover .submenu_wrap {
    display: block;
}

.submenu_wrap {
    width: 200px;
    height: 220px;
    position: absolute;
    display: none;
    top: 50px;
    right: -82px;
    z-index: 9;
    background: url(../images/place/submenu_background.png) no-repeat center;
    background-size: 150px 210px;
}

.submenu {
    margin: 36px 0 0 20px;
    width: 160px;
    height: 200px;
}

.submenu>li {
    float: left;
    width: 150px;
    margin: 8px auto;
    text-align: center;
}

.submenu li a {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #FF4A00;
}
.submenu li a:hover{
    font-size: 17px;
}

#section1_wrap{
    height: 800px;
    margin: 0 auto;
    width: 1320px;
}
h2{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 50px auto;
    margin-top: 150px;
}
.section1{
    width: 1320px;
    margin: 0 auto;
}
.section1 li{
    width: 300px;
    height: 360px;
    margin: 20px 69px;
    float: left;
    border: rgba(0, 0, 0, 0.2) 0.1px solid;
    text-align: center;
    line-height: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    box-sizing: border-box;
}
.section1 li h3{
    margin-top: 50px;
}
.section1 li img{
    padding: 36px 0;
    transition: all 0.6s;
}

.section1 li p{
    font-size: 14px;
}
.section1 li:hover{
    transition: all 0.6s;
    transform: translateY(-20px);
}
.section1 li:hover img{
    transition: all 0.4s;
    transform: scale(1.1);
}
#section2_wrap{
    width: 100%;
    margin: 0 auto;
    height: 1080px;
    background: url(../images/withus/withus_banner1.jpg) no-repeat center;
}
.section2{
    width: 700px;
    height: 880px;
    margin: 0 auto;
    color: #fff;
}
input{
    text-align: center;
    font-size: 16px;
}

.section2 h3{
    text-align: center;
   padding: 50px;
}
.section2 ul{
    margin-top: 20px;
}
.section2 ul li{
    float: left;
    width: 100%;
    margin: 20px auto;
}

.section2 ul li p{
    padding: 5px 0 5px 5px;
    text-align: left;
    font-size: 18px;
}
.section2 ul li input{
    width: 336px;
    height: 42px;
    border-radius: 16px;
    border: none;
}
.text_box1{
    float: left;
}
.text_box2{
    float: right;
}
textarea{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 16px;
}
.send_box{
    margin: 80px auto;
    width: 700px;

}
.send_box p{
    text-align: center;
     font-size: 24px;
     color: #fff;
     background: #FF4A00 center ;
     border-radius: 20px;
     padding: 16px 40px;
     font-family: 'COCOGOOSE', sans-serif;
    font-weight: 'DemiBold';
}

#footer {
    margin-top: 80px ;
    height: 100px;
    text-align: center;
}

#footer ul {
    margin: 0 auto;
    width: 570px;
}

#footer ul li {
    float: left;
    color: #353535;
    font-size: 12px;
    margin-right: 20px;
}

#footer ul li a {
    color: #353535;
    font-size: 10px;
}

#footer ul li a:hover {
    color: #000;
    font-weight: bold;
}